examples/getting-started/one-lamp-on-off.json
[{"id":"2dad0b7b.81c984","type":"send-messages","z":"6d72d1fc.47431","name":"","bridge":"c34db5f4.463458","x":500,"y":200,"wires":[]},{"id":"7e359dfa.509e14","type":"inject","z":"6d72d1fc.47431","name":"On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":140,"wires":[["2ad3c58c.a46f2a"]]},{"id":"26e69b6b.c47ec4","type":"inject","z":"6d72d1fc.47431","name":"Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":260,"wires":[["e9988615.fb6cd8"]]},{"id":"e1fb381.4bb73c8","type":"comment","z":"6d72d1fc.47431","name":"State: ON","info":"","x":260,"y":100,"wires":[]},{"id":"9a5f81fb.3c992","type":"comment","z":"6d72d1fc.47431","name":"State: OFF","info":"","x":260,"y":220,"wires":[]},{"id":"2ad3c58c.a46f2a","type":"generic-lamp","z":"6d72d1fc.47431","device":"b9730eda.9ab35","name":"Ikea Tr책dfri 806 lm","state":"ON","brightness":"254","temperature":50,"red":0,"green":0,"blue":0,"transition":"2","delay":0,"x":290,"y":140,"wires":[["2dad0b7b.81c984"]]},{"id":"e9988615.fb6cd8","type":"generic-lamp","z":"6d72d1fc.47431","device":"b9730eda.9ab35","name":"Ikea Tr책dfri 806 lm","state":"OFF","brightness":"254","temperature":50,"red":0,"green":0,"blue":0,"transition":"2","delay":0,"x":290,"y":260,"wires":[["2dad0b7b.81c984"]]},{"id":"c34db5f4.463458","type":"zigbee2mqtt-bridge-config","name":"Zigbee2MQTT Intel NUC","broker":"cbf4dc5b.3a4d7","baseTopic":"zigbee2mqtt","enabledLogging":false,"allowDeviceStatusRefresh":false},{"id":"b9730eda.9ab35","type":"zigbee2mqtt-device-config","name":"Ikea Tr책dfri 806 lm","bridge":"c34db5f4.463458","deviceName":"Ikea Tr책dfri 806lm","brightnessSupport":true,"temperatureSupport":false,"colorSupport":false,"genericMqttDevice":false,"statusTopic":"","commandTopic":"","refreshTopic":""},{"id":"cbf4dc5b.3a4d7","type":"mqtt-broker","name":"MQTT Broker","broker":"192.168.178.49","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]