examples/getting-started/two-lamps-override.json
[{"id":"5f37476b.814558","type":"send-messages","z":"24f36957.60dbd6","name":"","bridge":"c34db5f4.463458","x":1020,"y":180,"wires":[]},{"id":"f86a33a4.b9a0a","type":"generic-lamp","z":"24f36957.60dbd6","device":"6a600609.e54ca8","name":"Phillips Hue white ambience","state":"ON","brightness":"30","temperature":"153","red":0,"green":0,"blue":0,"transition":"2","delay":0,"x":560,"y":180,"wires":[["f99218ad.8866b8"]]},{"id":"74938da8.28c264","type":"inject","z":"24f36957.60dbd6","name":"On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":160,"wires":[["a6abb9ca.9847c8"]]},{"id":"f051fef9.5fbb3","type":"inject","z":"24f36957.60dbd6","name":"Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":200,"wires":[["3d8ddf9c.5ebca"]]},{"id":"f99218ad.8866b8","type":"generic-lamp","z":"24f36957.60dbd6","device":"b9730eda.9ab35","name":"Ikea Trådfri 806 lm","state":"ON","brightness":"254","temperature":50,"red":0,"green":0,"blue":0,"transition":"2","delay":0,"x":810,"y":180,"wires":[["5f37476b.814558","57d4f951.9e8498"]]},{"id":"a6abb9ca.9847c8","type":"override-state","z":"24f36957.60dbd6","name":"override-state: On","state":"ON","x":310,"y":160,"wires":[["f86a33a4.b9a0a"]]},{"id":"3d8ddf9c.5ebca","type":"override-state","z":"24f36957.60dbd6","name":"override-state: Off","state":"OFF","x":310,"y":200,"wires":[["f86a33a4.b9a0a"]]},{"id":"9ef91f6a.b3c26","type":"inject","z":"24f36957.60dbd6","name":"Relax mode","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":100,"wires":[["78ef023d.a3e8dc"]]},{"id":"78ef023d.a3e8dc","type":"override-brightness","z":"24f36957.60dbd6","name":"override-brightness: 50% (127)","brightness":"127","x":350,"y":100,"wires":[["95023793.a57d38"]]},{"id":"95023793.a57d38","type":"override-temperature","z":"24f36957.60dbd6","name":"override-temperature: (333)","temperature":333,"x":640,"y":100,"wires":[["a6abb9ca.9847c8"]]},{"id":"236ac64a.d73c2a","type":"inject","z":"24f36957.60dbd6","name":"Work mode","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"override\":{\"brightness\":\"255\",\"temperature\":100,\"state\":\"ON\"}}","payloadType":"json","x":350,"y":260,"wires":[["f86a33a4.b9a0a"]]},{"id":"57d4f951.9e8498","type":"debug","z":"24f36957.60dbd6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":240,"wires":[]},{"id":"c34db5f4.463458","type":"zigbee2mqtt-bridge-config","name":"Zigbee2MQTT Intel NUC","broker":"cbf4dc5b.3a4d7","baseTopic":"zigbee2mqtt","enabledLogging":false,"allowDeviceStatusRefresh":false},{"id":"6a600609.e54ca8","type":"zigbee2mqtt-device-config","name":"Phillips Hue white ambience","bridge":"c34db5f4.463458","deviceName":"Lamp Terrace","brightnessSupport":true,"temperatureSupport":true,"colorSupport":false,"genericMqttDevice":false,"statusTopic":"","commandTopic":"","refreshTopic":""},{"id":"b9730eda.9ab35","type":"zigbee2mqtt-device-config","name":"Ikea Trådfri 806 lm","bridge":"c34db5f4.463458","deviceName":"Ikea Trådfri 806lm","brightnessSupport":true,"temperatureSupport":false,"colorSupport":false,"genericMqttDevice":false,"statusTopic":"","commandTopic":"","refreshTopic":""},{"id":"cbf4dc5b.3a4d7","type":"mqtt-broker","name":"MQTT Broker","broker":"192.168.178.49","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]