examples/ota/ota_over_night.json
[{"id":"d3d215cf.2efe18","type":"inject","z":"e5f179a9.dd2658","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"{\"autoUpdate\":true}","payloadType":"json","x":620,"y":1520,"wires":[["4a909756.e271c8"]]},{"id":"a0c0155d.aa5a38","type":"inject","z":"e5f179a9.dd2658","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"00 04 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"{\"autoUpdate\":false}","payloadType":"json","x":620,"y":1560,"wires":[["4a909756.e271c8"]]},{"id":"4a909756.e271c8","type":"ota-update","z":"e5f179a9.dd2658","name":"","bridge":"8d961b4d.cfe858","autoUpdate":false,"verboseLogging":false,"x":830,"y":1520,"wires":[["7b9d12.9410c2f"],["538eb538.6377ac","c70fc71.94ab938"]]},{"id":"8d961b4d.cfe858","type":"zigbee2mqtt-bridge-config","z":"","name":"raspberry","baseTopic":"zigbee2mqtt","broker":"mqtt://localhost:1883","requireLogin":false}]