dashboard/zigbee2mqtt_dashboard_node_red.json
[{"id":"e5f179a9.dd2658","type":"tab","label":"ZigBee2Mqtt UI","disabled":false,"info":""},{"id":"dd6c543f.ce7f78","type":"mqtt in","z":"e5f179a9.dd2658","name":"log received","topic":"zigbee2mqtt/bridge/log","qos":"2","datatype":"auto","broker":"1371c6c.5de2f39","x":90,"y":120,"wires":[["9e319c8e.2d608"]]},{"id":"9e319c8e.2d608","type":"json","z":"e5f179a9.dd2658","name":"","property":"payload","action":"","pretty":false,"x":230,"y":120,"wires":[["df7cfb9a.5328a8"]]},{"id":"bcf6892.1933e78","type":"comment","z":"e5f179a9.dd2658","name":"log received","info":"","x":90,"y":80,"wires":[]},{"id":"1918e31a.b3a30d","type":"ui_toast","z":"e5f179a9.dd2658","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":930,"y":160,"wires":[]},{"id":"d57bfb8f.8376d8","type":"ui_template","z":"e5f179a9.dd2658","group":"ba3fdabe.395a58","name":"","order":1,"width":"17","height":12,"format":"<style>\n    /* Tooltip container */\n    .md-button.tooltip {\n      position: relative;\n      display: inline-block;\n      border-bottom: 1px dotted black; \n      overflow: visible;\n    }\n    \n    /* Tooltip text */\n    .md-button.tooltip .tooltiptext {\n      visibility: hidden;\n      width: 120px;\n      background-color: #555;\n      color: #fff;\n      text-align: center;\n      padding: 5px 0;\n      border-radius: 6px;\n    \n      /* Position the tooltip text */\n      position: absolute;\n      z-index: 1;\n      top: 125%;\n      left: 50%;\n      margin-left: -60px;\n    \n      /* Fade in tooltip */\n      opacity: 0;\n      transition: opacity 0.3s;\n    }\n    \n    /* Tooltip arrow */\n    .md-button.tooltip .tooltiptext::after {\n      content: \"\";\n      position: absolute;\n      bottom: 100%;\n      left: 50%;\n      margin-left: -5px;\n      border-width: 5px;\n      border-style: solid;\n      border-color: #555 transparent transparent transparent;\n      transform: rotate(180deg);\n    }\n    \n    /* Show the tooltip text when you mouse over the tooltip container */\n    .md-button.tooltip:hover .tooltiptext {\n      visibility: visible;\n      opacity: 1;\n    }\n    \n    .md-button.tooltip:hover .tooltiptext:hover {\n        visibility: hidden;\n        opacity: 0;\n    }\n    \n    tr:hover {\n        background: #999;\n    }\n</style>\n<table>\n    <tr>\n        <td><B>Name:</B></td>\n        <td><B>Model:</B></td>\n        <td><B>Type:</B></td>\n        <td><B>Address:</B></td>\n        <td><B>Actions:</B></td>\n    </tr>\n      <tr ng-repeat=\"obj in msg.payload\" ng-class=\"myVar='{{ obj.myClass }}'\">\n        <td>{{ obj.friendly_name }}</td>\n        <td>{{ obj.model }}</td>\n        <td>{{ obj.type }}</td>\n        <td>{{ obj.ieeeAddr }}</td>\n        <td style=\"width:170px;\">\n            <md-button class=\"tooltip\" style=\"background-color: #333; border: 1px solid #555;color: #fff;padding: 5px 10px;margin: 0px;\" ng-click=\"send({topic:'rename', payload: obj.friendly_name })\">📝\n              <span class=\"tooltiptext\">rename</span>\n            </md-button>\n            <md-button class=\"tooltip\" style=\"background-color: #333; border: 1px solid #555;color: #fff;padding: 5px 10px;margin: 0px;\" ng-click=\"send({topic:'delete', payload: obj.friendly_name })\">✖\n              <span class=\"tooltiptext\">delete</span>\n            </md-button>\n            <md-button class=\"tooltip\" style=\"background-color: #333; border: 1px solid #555;color: #fff;padding: 5px 10px;margin: 0px;\" ng-click=\"send({topic:'select', payload: obj.friendly_name })\">🔗\n              <span class=\"tooltiptext\">add to group</span>\n            </md-button>\n            <md-button class=\"tooltip\" style=\"background-color: #333; border: 1px solid #555;color: #fff;padding: 5px 10px;margin: 0px; visibility:{{obj.update_available ? 'visible' : 'hidden'}};\" ng-click=\"send({topic:'otaUpdate', payload: obj.friendly_name })\">📡\n              <span class=\"tooltiptext\">OTA Update</span>\n            </md-button>\n        </td>\n    </tr>\n</table>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1040,"y":300,"wires":[["ec88f3b0.9e67f"]]},{"id":"3a4f81ed.1faf6e","type":"mqtt out","z":"e5f179a9.dd2658","name":"get device list","topic":"zigbee2mqtt/bridge/config/devices","qos":"0","retain":"false","broker":"1371c6c.5de2f39","x":920,"y":200,"wires":[]},{"id":"f2b4463b.0de348","type":"comment","z":"e5f179a9.dd2658","name":"new device list received","info":"","x":120,"y":300,"wires":[]},{"id":"fdb37a6a.940078","type":"ui_button","z":"e5f179a9.dd2658","name":"","group":"ba3fdabe.395a58","order":2,"width":0,"height":0,"passthru":false,"label":"refresh devices","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":380,"y":200,"wires":[["eb0ffdc8.267c4"]]},{"id":"eb0ffdc8.267c4","type":"function","z":"e5f179a9.dd2658","name":"reset message","func":"msg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":200,"wires":[["3a4f81ed.1faf6e"]]},{"id":"8569dd28.2539e","type":"ui_ui_control","z":"e5f179a9.dd2658","name":"","events":"connect","x":220,"y":200,"wires":[["fdb37a6a.940078"]]},{"id":"1dd244e8.4ad3eb","type":"comment","z":"e5f179a9.dd2658","name":"remove device","info":"","x":100,"y":620,"wires":[]},{"id":"2dfef96b.5c5ae6","type":"ui_toast","z":"e5f179a9.dd2658","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"cancel","cancel":"ok","raw":false,"topic":"Remove device","name":"","x":390,"y":660,"wires":[["925d9f47.916fc"]]},{"id":"8238e164.a651","type":"ui_toast","z":"e5f179a9.dd2658","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Invalid device name","name":"","x":970,"y":580,"wires":[]},{"id":"fc7808a7.8016c8","type":"comment","z":"e5f179a9.dd2658","name":"rename device","info":"","x":100,"y":520,"wires":[]},{"id":"d142a35e.33a86","type":"comment","z":"e5f179a9.dd2658","name":"connected","info":"","x":80,"y":200,"wires":[]},{"id":"ca044fce.b3e0e","type":"switch","z":"e5f179a9.dd2658","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"device_renamed","vt":"str"},{"t":"eq","v":"devices","vt":"str"},{"t":"eq","v":"groups","vt":"str"},{"t":"eq","v":"device_group_add","vt":"str"},{"t":"eq","v":"device_group_remove","vt":"str"},{"t":"eq","v":"device_connected","vt":"str"},{"t":"eq","v":"pairing","vt":"str"},{"t":"eq","v":"device_removed","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":9,"x":530,"y":120,"wires":[["d861ef86.75bb1","eb0ffdc8.267c4"],["9b928aa.d8db478"],["c8bb09dd.6f9a28"],["20f7305a.9490c"],["20f7305a.9490c"],["eb0ffdc8.267c4"],["1918e31a.b3a30d","91d048ad.c8f8b8"],["1918e31a.b3a30d","91d048ad.c8f8b8"],["1918e31a.b3a30d"]]},{"id":"d861ef86.75bb1","type":"function","z":"e5f179a9.dd2658","name":"Device renamed","func":"var from = msg.payload.from;\nvar to = msg.payload.to;\nmsg.topic = \"Device renamed\";\nmsg.payload = \"Renamed \" + from + \"to \" + to;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":40,"wires":[["1918e31a.b3a30d"]]},{"id":"df7cfb9a.5328a8","type":"change","z":"e5f179a9.dd2658","name":"prepare data","rules":[{"t":"move","p":"payload.type","pt":"msg","to":"topic","tot":"msg"},{"t":"move","p":"payload.message","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":120,"wires":[["ca044fce.b3e0e"]]},{"id":"e1a53dcd.8eaf9","type":"sort","z":"e5f179a9.dd2658","name":"","order":"ascending","as_num":false,"target":"payload","targetType":"msg","msgKey":"friendly_name","msgKeyType":"jsonata","seqKey":"payload","seqKeyType":"msg","x":360,"y":300,"wires":[["d70da9ab.388f78"]]},{"id":"444046f5.eeff98","type":"function","z":"e5f179a9.dd2658","name":"","func":"var device = msg.selectedDevice;\n\nmsg.payload = msg.payload.filter(function(n){\n    n.isSelected= n.friendly_name === device;\n    n.myClass = n.isSelected ? \"highlight\" : \"\";\n    return n.friendly_name !== \"Coordinator\";\n});\n   \nreturn msg;","outputs":1,"noerr":0,"x":910,"y":300,"wires":[["d57bfb8f.8376d8"]]},{"id":"90f1226a.97264","type":"ui_button","z":"e5f179a9.dd2658","name":"add group","group":"28103f27.09387","order":2,"width":5,"height":1,"passthru":false,"label":"Add group","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":760,"wires":[["1a9905d6.8abeea"]]},{"id":"d44c4602.264578","type":"ui_template","z":"e5f179a9.dd2658","group":"28103f27.09387","name":"","order":1,"width":11,"height":12,"format":"<style>\n    .highlight {\n        background-color: #666;\n    }\n</style>\n<table>\n    <tr>\n        <td><B>ID</B></td>\n        <td><B>Name</B></td>\n        <td><B>Optimistic</B></td>\n        <td><B>Devices</B></td>\n    </tr>\n    <tr ng-repeat=\"obj in msg.payload\" ng-class=\"myVar='{{ obj.myClass }}'\">\n        <td>\n            {{ obj.ID }}\n        </td>\n        <td>{{ obj.friendly_name }}</td>\n        <td>{{ obj.optimistic }}</td>\n        <td>\n            <md-button ng-If=\"obj.showRemoveGroup\" class=\"vibrate filled touched bigfont rounded\" style=\"background-color: #333; border: 1px solid #555;color: #fff;padding: 5px 10px;\" ng-click=\"send({topic:'deleteGroup', payload: obj.friendly_name})\">remove group</md-button>\n            <table>\n                <tr ng-repeat=\"device in obj.devices\">\n                    <td>{{ device }}</td>\n                    <td>\n                        <md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color: #333; border: 1px solid #555;color: #fff;padding: 5px 10px;\" ng-click=\"send({topic:'delete', payload: device, group: obj.friendly_name })\">✖</md-button>\n                    </td>\n                </tr>\n            </table>\n        </td>\n        <td>\n            <md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color: #333; border: 1px solid #555;color: #fff;padding: 5px 10px;\" ng-click=\"send({topic:'select', payload: obj.friendly_name })\">🔗</md-button>\n        </td>\n    </tr>\n</table>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":840,"y":420,"wires":[["67f23e8e.667ed"]]},{"id":"811bcd8b.cbfb4","type":"sort","z":"e5f179a9.dd2658","name":"","order":"ascending","as_num":false,"target":"payload","targetType":"msg","msgKey":"friendly_name","msgKeyType":"jsonata","seqKey":"payload","seqKeyType":"msg","x":360,"y":420,"wires":[["931d9366.4139"]]},{"id":"9df79b91.a27d88","type":"function","z":"e5f179a9.dd2658","name":"","func":"var devices = flow.get(\"devicelist\");\nvar selectedGroup = msg.selectedGroup;\n\nmsg.payload.forEach(function(element){\n    var temp = [];\n    element.showRemoveGroup = element.devices.length === 0;\n    element.isSelected = element.friendly_name == selectedGroup;\n    element.myClass = element.isSelected ? \"highlight\" : \"\";\n    element.devices.forEach(function(address){\n        \n        if(address.substring(0, 2) !== \"0x\")\n        {\n            temp.push(address);\n            return;\n        }\n        \n        address = address.substring(address.length-2, 0);\n        var device = devices.find(function(d){\n            return d.ieeeAddr == address;\n        });\n        if(device !== undefined)\n        {\n            temp.push(device.friendly_name);\n        }\n        else\n        {\n            temp.push(address);\n        }\n   });\n   element.devices = temp;\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":420,"wires":[["d44c4602.264578"]]},{"id":"666508f5.ac3c68","type":"mqtt out","z":"e5f179a9.dd2658","name":"group list","topic":"zigbee2mqtt/bridge/config/groups","qos":"","retain":"","broker":"1371c6c.5de2f39","x":900,"y":240,"wires":[]},{"id":"ae13c8ab.543868","type":"function","z":"e5f179a9.dd2658","name":"reset message","func":"msg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":240,"wires":[["666508f5.ac3c68"]]},{"id":"ed9af84b.eb1d08","type":"ui_button","z":"e5f179a9.dd2658","name":"","group":"28103f27.09387","order":4,"width":5,"height":1,"passthru":false,"label":"refresh groups","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":400,"y":240,"wires":[["ae13c8ab.543868"]]},{"id":"a36673c2.3b5f4","type":"ui_ui_control","z":"e5f179a9.dd2658","name":"","events":"change","x":240,"y":240,"wires":[["ed9af84b.eb1d08"]]},{"id":"e06e2b5d.44a0d8","type":"comment","z":"e5f179a9.dd2658","name":"Get group list","info":"","x":90,"y":240,"wires":[]},{"id":"d28d1123.3842f","type":"comment","z":"e5f179a9.dd2658","name":"add group","info":"","x":80,"y":720,"wires":[]},{"id":"1fc0a05b.27462","type":"mqtt out","z":"e5f179a9.dd2658","name":"remove_group","topic":"zigbee2mqtt/bridge/config/remove_group","qos":"0","retain":"false","broker":"1371c6c.5de2f39","x":1060,"y":860,"wires":[]},{"id":"9f46dea4.76cc1","type":"ui_toast","z":"e5f179a9.dd2658","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"topic":"Delete group","name":"","x":570,"y":860,"wires":[["80155441.cf4f38"]]},{"id":"7af849f5.81f688","type":"function","z":"e5f179a9.dd2658","name":"prepare notification","func":"msg.topic = \"Deleting group\";\nmsg.payload = \"Do you really want to delete group '\" + msg.groupname + \"'?\";\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":860,"wires":[["9f46dea4.76cc1"]]},{"id":"9fb776f4.736f48","type":"comment","z":"e5f179a9.dd2658","name":"remove group","info":"","x":90,"y":820,"wires":[]},{"id":"5b6da77c.ea6848","type":"mqtt out","z":"e5f179a9.dd2658","name":"add device to group","topic":"","qos":"0","retain":"false","broker":"1371c6c.5de2f39","x":1380,"y":1040,"wires":[]},{"id":"fc928270.93d08","type":"function","z":"e5f179a9.dd2658","name":"prepare mqtt message","func":"msg.topic = \"zigbee2mqtt/bridge/group/\"+msg.group+\"/add\";\nmsg.payload = msg.device;\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":1020,"wires":[["5b6da77c.ea6848","30507712.fa24b8","32da1161.cb17ce"]]},{"id":"d04fceef.91207","type":"comment","z":"e5f179a9.dd2658","name":"device selected","info":"","x":100,"y":920,"wires":[]},{"id":"d94b5beb.52b6f8","type":"function","z":"e5f179a9.dd2658","name":"store device list","func":"flow.set('devicelist', msg.payload);","outputs":0,"noerr":0,"x":1380,"y":260,"wires":[]},{"id":"e3d62fd5.c1a69","type":"function","z":"e5f179a9.dd2658","name":"store group list","func":"flow.set('grouplist', msg.payload);","outputs":0,"noerr":0,"x":1180,"y":400,"wires":[]},{"id":"df61c1cc.19ef4","type":"function","z":"e5f179a9.dd2658","name":"prepare mqtt message","func":"msg.topic = \"zigbee2mqtt/bridge/group/\"+msg.group+\"/remove\";\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":1180,"wires":[["25db4233.b3893e"]]},{"id":"25db4233.b3893e","type":"mqtt out","z":"e5f179a9.dd2658","name":"remove device from group","topic":"","qos":"0","retain":"false","broker":"1371c6c.5de2f39","x":420,"y":1180,"wires":[]},{"id":"4bffe763.3e33a8","type":"link in","z":"e5f179a9.dd2658","name":"refresh group delayed","links":["eb4d510a.e8396","6a8b4028.e8ca6","bcee4e08.d7b72","3236549d.36b93c","db19060f.598768","f6fb6ce9.19a4b"],"x":575,"y":220,"wires":[["ae13c8ab.543868"]]},{"id":"eb4d510a.e8396","type":"link out","z":"e5f179a9.dd2658","name":"","links":["4bffe763.3e33a8"],"x":1035,"y":700,"wires":[]},{"id":"80155441.cf4f38","type":"switch","z":"e5f179a9.dd2658","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":860,"wires":[["977802f2.4dd6e"]]},{"id":"977802f2.4dd6e","type":"change","z":"e5f179a9.dd2658","name":"","rules":[{"t":"move","p":"groupname","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"groupname","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":860,"wires":[["1fc0a05b.27462","cb20da54.728238"]]},{"id":"e0163851.63ac18","type":"ui_toast","z":"e5f179a9.dd2658","position":"prompt","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"rename","cancel":"cancel","raw":false,"topic":"","name":"","x":390,"y":560,"wires":[["be400b92.9dd568"]]},{"id":"be400b92.9dd568","type":"switch","z":"e5f179a9.dd2658","name":"!cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":560,"wires":[["be4747c0.646eb8"]]},{"id":"be4747c0.646eb8","type":"switch","z":"e5f179a9.dd2658","name":"!empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":560,"wires":[["ccb67236.27e0e"],["29615380.d7333c"]]},{"id":"57262aae.eba774","type":"change","z":"e5f179a9.dd2658","name":"prepare notification","rules":[{"t":"move","p":"payload","pt":"msg","to":"device","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"Enter new devicename","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Rename {device}","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"{device}","fromt":"str","to":"device","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":560,"wires":[["e0163851.63ac18"]]},{"id":"29615380.d7333c","type":"template","z":"e5f179a9.dd2658","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"'{{payload}}' is an invalid device name!","output":"str","x":800,"y":580,"wires":[["8238e164.a651"]]},{"id":"ff2d0102.d561","type":"mqtt out","z":"e5f179a9.dd2658","name":"rename","topic":"zigbee2mqtt/bridge/config/rename","qos":"0","retain":"false","broker":"1371c6c.5de2f39","x":980,"y":540,"wires":[]},{"id":"ccb67236.27e0e","type":"change","z":"e5f179a9.dd2658","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.new","tot":"msg"},{"t":"move","p":"device","pt":"msg","to":"payload.old","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":540,"wires":[["ff2d0102.d561"]]},{"id":"16c91a4b.8e17e6","type":"ui_switch","z":"e5f179a9.dd2658","name":"","label":"Permit join","tooltip":"","group":"426c23a1.44b21c","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":510,"y":1320,"wires":[["aae05553.5c0608"]]},{"id":"e682cc7a.150fa","type":"ui_toast","z":"e5f179a9.dd2658","position":"prompt","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"Add","cancel":"Cancel","raw":false,"topic":"Add new group","name":"","x":390,"y":760,"wires":[["f5b1dc13.5f258"]]},{"id":"1a9905d6.8abeea","type":"change","z":"e5f179a9.dd2658","name":"set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"Enter new group name","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":760,"wires":[["e682cc7a.150fa"]]},{"id":"f5b1dc13.5f258","type":"switch","z":"e5f179a9.dd2658","name":"!cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":760,"wires":[["c7dd8e52.2262e"]]},{"id":"c7dd8e52.2262e","type":"switch","z":"e5f179a9.dd2658","name":"!empty","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":760,"wires":[["f1ca340.de59bd"],["1d65a05e.f6709"]]},{"id":"1d65a05e.f6709","type":"function","z":"e5f179a9.dd2658","name":"prepare notification","func":"msg.topic = \"Groupname is empty!\";\nmsg.payload = \"Enter a group name and try it again\";\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":780,"wires":[["779ce95a.d1b728"]]},{"id":"779ce95a.d1b728","type":"ui_toast","z":"e5f179a9.dd2658","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"System Notification","name":"","x":1110,"y":780,"wires":[]},{"id":"e776b91b.381438","type":"mqtt out","z":"e5f179a9.dd2658","name":"add group","topic":"zigbee2mqtt/bridge/config/add_group","qos":"0","retain":"false","broker":"1371c6c.5de2f39","x":1090,"y":740,"wires":[]},{"id":"f1ca340.de59bd","type":"change","z":"e5f179a9.dd2658","name":"set payload","rules":[{"t":"delete","p":"socketid","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":740,"wires":[["e776b91b.381438","eb4d510a.e8396"]]},{"id":"b4f540b9.89681","type":"ui_dropdown","z":"e5f179a9.dd2658","name":"logging level","label":"Tracelevel","tooltip":"","place":"Select option","group":"426c23a1.44b21c","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"Info","value":"info","type":"str"},{"label":"Debug","value":"debug","type":"str"},{"label":"Warn","value":"warn","type":"str"},{"label":"Error","value":"error","type":"str"}],"payload":"","topic":"","x":510,"y":1240,"wires":[["b563141d.5ff168"]]},{"id":"b563141d.5ff168","type":"mqtt out","z":"e5f179a9.dd2658","name":"loggin level","topic":"zigbee2mqtt/bridge/config/log_level","qos":"0","retain":"false","broker":"1371c6c.5de2f39","x":690,"y":1240,"wires":[]},{"id":"5eda22bf.3a13cc","type":"comment","z":"e5f179a9.dd2658","name":"bridge config","info":"","x":90,"y":1280,"wires":[]},{"id":"383f81a7.d5460e","type":"mqtt out","z":"e5f179a9.dd2658","name":"permit join","topic":"zigbee2mqtt/bridge/config/permit_join","qos":"0","retain":"false","broker":"1371c6c.5de2f39","x":990,"y":1320,"wires":[]},{"id":"fdc04d36.4dfa5","type":"ui_toast","z":"e5f179a9.dd2658","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"System Notification","name":"","x":1010,"y":1280,"wires":[]},{"id":"cc0c2c14.1af85","type":"function","z":"e5f179a9.dd2658","name":"prepare notification","func":"if (msg.payload){\n    msg.payload = \"Permit join: Allow\";\n} else {\n    msg.payload = \"Permit join: Deny\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1280,"wires":[["fdc04d36.4dfa5"]]},{"id":"925d9f47.916fc","type":"switch","z":"e5f179a9.dd2658","name":"!cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":660,"wires":[["4219bc7f.4267d4"]]},{"id":"ef065d62.c07c1","type":"change","z":"e5f179a9.dd2658","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"device","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"Do you really want to delete '{device}' !","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"{device}","fromt":"str","to":"device","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":660,"wires":[["2dfef96b.5c5ae6"]]},{"id":"4219bc7f.4267d4","type":"change","z":"e5f179a9.dd2658","name":"","rules":[{"t":"move","p":"device","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"zigbee2mqtt/bridge/config/remove","tot":"str"},{"t":"delete","p":"socketid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":660,"wires":[["3e1ba126.ca119e"]]},{"id":"3e1ba126.ca119e","type":"mqtt out","z":"e5f179a9.dd2658","name":"remove device","topic":"","qos":"0","retain":"false","broker":"1371c6c.5de2f39","x":880,"y":660,"wires":[]},{"id":"3236549d.36b93c","type":"link out","z":"e5f179a9.dd2658","name":"","links":["4bffe763.3e33a8"],"x":775,"y":100,"wires":[]},{"id":"20f7305a.9490c","type":"function","z":"e5f179a9.dd2658","name":"","func":"msg.topic = \"Groups updated!\";\nmsg.payload = msg.payload.group + \" - \" + msg.payload.friendly_name;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":120,"wires":[["3236549d.36b93c","1918e31a.b3a30d"]]},{"id":"72d654c0.bb9c7c","type":"link in","z":"e5f179a9.dd2658","name":"new device list","links":["9b928aa.d8db478","ae9bf9cf.8e6948","f6c187bd.82a948"],"x":255,"y":300,"wires":[["e1a53dcd.8eaf9"]]},{"id":"2f9e18fc.4f0cb8","type":"link in","z":"e5f179a9.dd2658","name":"new group list","links":["c8bb09dd.6f9a28","792debd4.4a83d4"],"x":255,"y":420,"wires":[["811bcd8b.cbfb4"]]},{"id":"9b928aa.d8db478","type":"link out","z":"e5f179a9.dd2658","name":"","links":["72d654c0.bb9c7c"],"x":635,"y":80,"wires":[]},{"id":"c8bb09dd.6f9a28","type":"link out","z":"e5f179a9.dd2658","name":"","links":["2f9e18fc.4f0cb8"],"x":675,"y":100,"wires":[]},{"id":"143831ab.60a89e","type":"comment","z":"e5f179a9.dd2658","name":"new group list received","info":"","x":120,"y":420,"wires":[]},{"id":"db19060f.598768","type":"link out","z":"e5f179a9.dd2658","name":"","links":["4bffe763.3e33a8"],"x":1215,"y":820,"wires":[]},{"id":"e33b9058.52452","type":"mqtt in","z":"e5f179a9.dd2658","name":"config received","topic":"zigbee2mqtt/bridge/config","qos":"2","datatype":"json","broker":"1371c6c.5de2f39","x":100,"y":1320,"wires":[["920dd86d.fde5c8","e058b7b1.1422d8","6bbf27ef.c56f48","73241915.ba1088","1981633.04b119d","61441428.8f009c"]]},{"id":"e058b7b1.1422d8","type":"change","z":"e5f179a9.dd2658","name":"","rules":[{"t":"move","p":"payload.permit_join","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"feedback","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1320,"wires":[["16c91a4b.8e17e6"]]},{"id":"aae05553.5c0608","type":"switch","z":"e5f179a9.dd2658","name":"","property":"feedback","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":1320,"wires":[["cc0c2c14.1af85"],["e2a268a.1798098"]]},{"id":"e2a268a.1798098","type":"change","z":"e5f179a9.dd2658","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"true","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1320,"wires":[["383f81a7.d5460e"]]},{"id":"920dd86d.fde5c8","type":"change","z":"e5f179a9.dd2658","name":"","rules":[{"t":"move","p":"payload.log_level","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"feedback","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1240,"wires":[["b4f540b9.89681"]]},{"id":"6bbf27ef.c56f48","type":"ui_text","z":"e5f179a9.dd2658","group":"426c23a1.44b21c","order":3,"width":0,"height":0,"name":"","label":"Version: ","format":"{{msg.payload.version}}","layout":"row-spread","x":320,"y":1280,"wires":[]},{"id":"73241915.ba1088","type":"ui_text","z":"e5f179a9.dd2658","group":"426c23a1.44b21c","order":4,"width":0,"height":0,"name":"","label":"Commit: ","format":"{{msg.payload.commit}}","layout":"row-spread","x":320,"y":1360,"wires":[]},{"id":"1981633.04b119d","type":"ui_text","z":"e5f179a9.dd2658","group":"426c23a1.44b21c","order":5,"width":0,"height":0,"name":"","label":"Coordinator: ","format":"{{msg.payload.coordinator.type}}","layout":"row-spread","x":330,"y":1400,"wires":[]},{"id":"61441428.8f009c","type":"ui_text","z":"e5f179a9.dd2658","group":"426c23a1.44b21c","order":6,"width":0,"height":0,"name":"","label":"Revision: ","format":"{{msg.payload.coordinator.meta.revision}}","layout":"row-spread","x":320,"y":1440,"wires":[]},{"id":"74d2ed0.1aec214","type":"function","z":"e5f179a9.dd2658","name":"both are set","func":"if(msg.device !== undefined &&\n    msg.device !== null &&\n    msg.device !== \"\" &&\n    msg.group !== undefined &&\n    msg.group !== null &&\n    msg.group !== \"\") {\n    \n    msg.topic = \"Add device to group\";\n    msg.payload = \"Do you want to add '\";\n    msg.payload += msg.device + \"' to group '\";\n    msg.payload += msg.group + \"'?\";\n    return msg;\n}","outputs":1,"noerr":0,"x":530,"y":1000,"wires":[["b59ce9a7.7623a8"]]},{"id":"b59ce9a7.7623a8","type":"ui_toast","z":"e5f179a9.dd2658","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"cancel","cancel":"yes","raw":false,"topic":"","name":"","x":690,"y":1000,"wires":[["f9507497.0a84f8"]]},{"id":"f9507497.0a84f8","type":"switch","z":"e5f179a9.dd2658","name":"switch button press","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"cancel","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":870,"y":1000,"wires":[["cd9de502.d51ee8"],["fc928270.93d08"]]},{"id":"cd9de502.d51ee8","type":"switch","z":"e5f179a9.dd2658","name":"","property":"selected","propertyType":"msg","rules":[{"t":"eq","v":"group","vt":"str"},{"t":"eq","v":"device","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":980,"wires":[["30507712.fa24b8"],["32da1161.cb17ce"]]},{"id":"ec88f3b0.9e67f","type":"switch","z":"e5f179a9.dd2658","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"devices","vt":"str"},{"t":"eq","v":"select","vt":"str"},{"t":"eq","v":"delete","vt":"str"},{"t":"eq","v":"rename","vt":"str"},{"t":"eq","v":"otaUpdate","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":1170,"y":300,"wires":[["d94b5beb.52b6f8"],["3362018d.67bfae"],["96531b35.9b3588"],["54e257e4.515d38"],["da3abd77.9c121"]]},{"id":"67f23e8e.667ed","type":"switch","z":"e5f179a9.dd2658","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"groups","vt":"str"},{"t":"eq","v":"select","vt":"str"},{"t":"eq","v":"delete","vt":"str"},{"t":"eq","v":"deleteGroup","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":970,"y":420,"wires":[["e3d62fd5.c1a69"],["c99ebcc6.6ad56"],["d5b1c114.d18ae"],["5ae5835e.01d55c"]]},{"id":"6fb729ca.2b8b78","type":"link in","z":"e5f179a9.dd2658","name":"rename device","links":["54e257e4.515d38"],"x":35,"y":560,"wires":[["57262aae.eba774"]]},{"id":"637cf0d7.104a6","type":"link in","z":"e5f179a9.dd2658","name":"delete device","links":["96531b35.9b3588"],"x":35,"y":660,"wires":[["ef065d62.c07c1"]]},{"id":"96531b35.9b3588","type":"link out","z":"e5f179a9.dd2658","name":"","links":["637cf0d7.104a6"],"x":1315,"y":300,"wires":[]},{"id":"3362018d.67bfae","type":"link out","z":"e5f179a9.dd2658","name":"","links":["bb1ced9.57a4f1"],"x":1275,"y":280,"wires":[]},{"id":"54e257e4.515d38","type":"link out","z":"e5f179a9.dd2658","name":"","links":["6fb729ca.2b8b78"],"x":1275,"y":320,"wires":[]},{"id":"bb1ced9.57a4f1","type":"link in","z":"e5f179a9.dd2658","name":"select device","links":["3362018d.67bfae"],"x":35,"y":960,"wires":[["4a39fd47.59cb24"]]},{"id":"b2f4dfdb.9bddb","type":"change","z":"e5f179a9.dd2658","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"device","tot":"msg"},{"t":"set","p":"selectedDevice","pt":"flow","to":"device","tot":"msg"},{"t":"set","p":"group","pt":"msg","to":"selectedGroup","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":960,"wires":[["74d2ed0.1aec214","83228498.a2f118"]]},{"id":"30507712.fa24b8","type":"change","z":"e5f179a9.dd2658","name":"","rules":[{"t":"set","p":"selectedGroup","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":960,"wires":[[]]},{"id":"32da1161.cb17ce","type":"change","z":"e5f179a9.dd2658","name":"","rules":[{"t":"set","p":"selectedDevice","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1000,"wires":[[]]},{"id":"d70da9ab.388f78","type":"change","z":"e5f179a9.dd2658","name":"load selected device","rules":[{"t":"set","p":"selectedDevice","pt":"msg","to":"selectedDevice","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":300,"wires":[["18e77d9c.260f12"]]},{"id":"fcdecc32.152d7","type":"link in","z":"e5f179a9.dd2658","name":"refresh device template","links":["83228498.a2f118"],"x":215,"y":340,"wires":[["66b6729b.634f2c"]]},{"id":"66b6729b.634f2c","type":"function","z":"e5f179a9.dd2658","name":"load device list","func":"msg.topic = \"devices\";\nmsg.payload = flow.get('devicelist');\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":340,"wires":[["d70da9ab.388f78"]]},{"id":"a9879868.355028","type":"comment","z":"e5f179a9.dd2658","name":"refresh template","info":"","x":100,"y":340,"wires":[]},{"id":"83228498.a2f118","type":"link out","z":"e5f179a9.dd2658","name":"","links":["fcdecc32.152d7"],"x":475,"y":960,"wires":[]},{"id":"4a39fd47.59cb24","type":"switch","z":"e5f179a9.dd2658","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"selectedDevice","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":960,"wires":[["478bca7d.29c984"],["b2f4dfdb.9bddb"]]},{"id":"478bca7d.29c984","type":"change","z":"e5f179a9.dd2658","name":"","rules":[{"t":"set","p":"selectedDevice","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":920,"wires":[["83228498.a2f118"]]},{"id":"97e1c0a.8eddd4","type":"function","z":"e5f179a9.dd2658","name":"load grouplist","func":"msg.topic = \"groups\";\nmsg.payload = flow.get('grouplist');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":460,"wires":[["931d9366.4139"]]},{"id":"bb5368b.75d9c98","type":"link in","z":"e5f179a9.dd2658","name":"refresh group template","links":["685cb575.4edf8c"],"x":215,"y":460,"wires":[["97e1c0a.8eddd4"]]},{"id":"2a429e51.e928c2","type":"comment","z":"e5f179a9.dd2658","name":"refresh template","info":"","x":100,"y":460,"wires":[]},{"id":"931d9366.4139","type":"change","z":"e5f179a9.dd2658","name":"load selected device","rules":[{"t":"set","p":"selectedGroup","pt":"msg","to":"selectedGroup","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":420,"wires":[["9df79b91.a27d88"]]},{"id":"d8fa92c3.728c6","type":"switch","z":"e5f179a9.dd2658","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"selectedGroup","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":1040,"wires":[["58672b53.3f2864"],["29d606c5.386f3a"]]},{"id":"29d606c5.386f3a","type":"change","z":"e5f179a9.dd2658","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"group","tot":"msg"},{"t":"set","p":"selectedGroup","pt":"flow","to":"group","tot":"msg"},{"t":"set","p":"device","pt":"msg","to":"selectedDevice","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1040,"wires":[["685cb575.4edf8c","74d2ed0.1aec214"]]},{"id":"58672b53.3f2864","type":"change","z":"e5f179a9.dd2658","name":"","rules":[{"t":"set","p":"selectedGroup","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1080,"wires":[["685cb575.4edf8c"]]},{"id":"d308c345.a0a37","type":"comment","z":"e5f179a9.dd2658","name":"group selected","info":"","x":100,"y":1080,"wires":[]},{"id":"10f8115.bf497ef","type":"link in","z":"e5f179a9.dd2658","name":"select group","links":["c99ebcc6.6ad56"],"x":35,"y":1040,"wires":[["d8fa92c3.728c6"]]},{"id":"685cb575.4edf8c","type":"link out","z":"e5f179a9.dd2658","name":"","links":["bb5368b.75d9c98"],"x":475,"y":1040,"wires":[]},{"id":"789d5024.24049","type":"comment","z":"e5f179a9.dd2658","name":"refresh template","info":"","x":580,"y":1040,"wires":[]},{"id":"d2198385.dec3d","type":"comment","z":"e5f179a9.dd2658","name":"refresh template","info":"","x":580,"y":960,"wires":[]},{"id":"c99ebcc6.6ad56","type":"link out","z":"e5f179a9.dd2658","name":"","links":["10f8115.bf497ef"],"x":1075,"y":420,"wires":[]},{"id":"9cd95d0f.20061","type":"link in","z":"e5f179a9.dd2658","name":"remove group","links":["5ae5835e.01d55c"],"x":35,"y":860,"wires":[["7de72651.c3f308"]]},{"id":"7de72651.c3f308","type":"change","z":"e5f179a9.dd2658","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"groupname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":860,"wires":[["7af849f5.81f688"]]},{"id":"cb20da54.728238","type":"delay","z":"e5f179a9.dd2658","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":820,"wires":[["db19060f.598768"]]},{"id":"7e181592.414d6c","type":"link in","z":"e5f179a9.dd2658","name":"remove from group","links":["d5b1c114.d18ae"],"x":35,"y":1180,"wires":[["df61c1cc.19ef4"]]},{"id":"21fa652a.63e66a","type":"comment","z":"e5f179a9.dd2658","name":"remove device from group","info":"","x":130,"y":1140,"wires":[]},{"id":"d5b1c114.d18ae","type":"link out","z":"e5f179a9.dd2658","name":"","links":["7e181592.414d6c"],"x":1115,"y":440,"wires":[]},{"id":"5ae5835e.01d55c","type":"link out","z":"e5f179a9.dd2658","name":"","links":["9cd95d0f.20061"],"x":1075,"y":460,"wires":[]},{"id":"7aba8bec.6261a4","type":"mqtt out","z":"e5f179a9.dd2658","name":"start OTA Update","topic":"zigbee2mqtt/bridge/ota_update/update","qos":"0","retain":"false","broker":"1371c6c.5de2f39","x":870,"y":1520,"wires":[]},{"id":"9e6bbb7c.cadc38","type":"comment","z":"e5f179a9.dd2658","name":"OTA update","info":"","x":90,"y":1480,"wires":[]},{"id":"dc00ae71.c7d8a","type":"ui_toast","z":"e5f179a9.dd2658","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"cancel","cancel":"ok","raw":false,"topic":"Start OTA update","name":"","x":330,"y":1520,"wires":[["e1bc2d47.cc766"]]},{"id":"e1bc2d47.cc766","type":"switch","z":"e5f179a9.dd2658","name":"!cancel","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":480,"y":1520,"wires":[["6ec37af8.1fc5b4"]]},{"id":"f4b81992.145068","type":"change","z":"e5f179a9.dd2658","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"device","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"Do you really want to start OTA update for '{device}'?","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"{device}","fromt":"str","to":"device","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":1520,"wires":[["dc00ae71.c7d8a"]]},{"id":"6ec37af8.1fc5b4","type":"change","z":"e5f179a9.dd2658","name":"","rules":[{"t":"move","p":"device","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1520,"wires":[["7aba8bec.6261a4","41b69a4b.6dc464"]]},{"id":"f42d12b.64bbff","type":"link in","z":"e5f179a9.dd2658","name":"delete device","links":["da3abd77.9c121"],"x":35,"y":1520,"wires":[["f4b81992.145068"]]},{"id":"da3abd77.9c121","type":"link out","z":"e5f179a9.dd2658","name":"startOTAupdate","links":["f42d12b.64bbff"],"x":1315,"y":340,"wires":[]},{"id":"18e77d9c.260f12","type":"function","z":"e5f179a9.dd2658","name":"Load update state","func":"var states = global.get(\"UpdateStates\");\nif (states !== undefined)\n{\n    msg.payload.forEach(device => {\n        device.update_available =  states[\"zigbee2mqtt/\"+device.friendly_name];\n    });\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":300,"wires":[["444046f5.eeff98"]]},{"id":"df9a323a.af8d4","type":"ui_audio","z":"e5f179a9.dd2658","name":"","group":"3d3decaf.464c14","voice":"Microsoft Zira - English (United States)","always":true,"x":1200,"y":60,"wires":[]},{"id":"91d048ad.c8f8b8","type":"function","z":"e5f179a9.dd2658","name":"Translate to speakable","func":"if (msg.payload === \"interview_started\") {\n    msg.payload = \"Interview started\";\n    return msg;\n} else if (msg.payload === \"interview_successful\") {\n    msg.payload = \"Interview successful\";\n    return msg;\n} else if (msg.payload === \"left_network\") {\n    msg.payload = \"Left network\";\n    return msg;\n}","outputs":1,"noerr":0,"x":1010,"y":60,"wires":[["df9a323a.af8d4"]]},{"id":"e28d9ed5.e217d","type":"mqtt in","z":"e5f179a9.dd2658","name":"","topic":"zigbee2mqtt/+","qos":"2","datatype":"json","broker":"1371c6c.5de2f39","x":90,"y":380,"wires":[["4d30641b.b9df8c"]]},{"id":"4d30641b.b9df8c","type":"function","z":"e5f179a9.dd2658","name":"set update state","func":"var states = global.get(\"UpdateStates\") || {};\n\n\nvar available = msg.payload.update_available === true;\nstates[msg.topic] = available;\n\nglobal.set(\"UpdateStates\", states);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":380,"wires":[[]]},{"id":"41b69a4b.6dc464","type":"debug","z":"e5f179a9.dd2658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":1480,"wires":[]},{"id":"1371c6c.5de2f39","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.251","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ba3fdabe.395a58","type":"ui_group","z":"","name":"Devices","tab":"c701ad70.d9ba","order":1,"disp":true,"width":"17","collapse":false},{"id":"28103f27.09387","type":"ui_group","z":"","name":"Groups","tab":"c701ad70.d9ba","order":2,"disp":true,"width":11,"collapse":false},{"id":"426c23a1.44b21c","type":"ui_group","z":"","name":"Bridge Config","tab":"c701ad70.d9ba","order":6,"disp":true,"width":"5","collapse":false},{"id":"3d3decaf.464c14","type":"ui_group","z":"","name":"Szenen","tab":"5b86e00.02e9a2","order":7,"disp":true,"width":"6","collapse":false},{"id":"c701ad70.d9ba","type":"ui_tab","z":"","name":"Zigbee2Mqtt","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"5b86e00.02e9a2","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]